html{
 font-family: 'Roboto', sans-serif;
}
body{
  background: url(../img/background.jpg);
  background-size: cover;
  margin: 0px;
}
.ulHeader{
 list-style-type: none;
 padding-left: 0px;
 margin-top: 0px;
 padding: 20px;
}

.ulHeader li{
 margin: 3% 10%;
 display: inline-block;
}


.navHeader {
 background-color: #B71C1C;
 text-align: center;
}

.left{
 width: 40%;
}

.center{
 width: 20%;
 background: #B71C1C;
 border-radius: 0 0% 90% 90%;
 padding: 13px 0px 16px;
}

.right{
 width: 40%;
}

.container-menu{
 display: flex;
}

.imgMenu{
 width: 55%;
 display: block;
 margin: 10px auto;
 border-radius: 50%;
}

.linkHeader{
 text-transform: capitalize;
 text-decoration: none;
 color: white;
 font-size:  30px;
}
.linkHeader:hover{
  color: #BDBDBD;
  }

.card-container{
  width:100%;
  display:flex;
  flex-direction: column;
}
.main-container{
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
  margin: 0 auto;
}
article {
  width:80%;
  margin: 2% auto;
  padding: 2% 5% 5% 2%;
}
footer {
  height: 10vh;
  background-color: #B71C1C;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  bottom:0;
  width: 100%;
}

footer ul li{
  list-style-type: none;
  display: inline;
}

footer ul li a,footer ul li span{
  margin: 15px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover{
  color: #BDBDBD;
  }

footer ul{
  padding-top: 20px;
  margin-top: 0px;
}
.footerhaut{
  position:fixed;
  bottom:0;
}
#map {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 20vh;
  max-height: 40vh;
}

#map iframe {
  width: 60%;
}

.rightList{
  float: right;
  padding-right:40px;
}
.card{
width:48%;
background-color: red;
}

input, textarea {
  background-color:transparent;
  border:0;
 }
 input{
   border-bottom:1px solid grey;
 }
textarea{
  border: 1px solid grey;
}

 input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow: 4px 4px 0px #BDBDBD;
 background-color: #3F51B5;
 color: white;
 cursor:pointer;
 }

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
 .map{
   display: flex;
   margin: 3% auto;
   width:60%;
   background-color: rgba(255,255,255,0.9);
   border-radius: 5px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }

 .map p{
   margin: auto;
 }
label{
  display: inline-block;
}
.form-element {
  width: 400px;
  margin:10px;
}

 .formulaire{
    display: flex;
    flex-direction: column;
}
.scrolltop{
  right: 5px;
  bottom: 15%;
  position:fixed;
}
div.scrolltop a svg path {
  color: #FFC107;
}
ul li a svg path{
  color:#FFC107;
}
